<div class="container">
    <h2>User Settings form</h2>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" placeholder="name@example.com">
    </div>

    <div class="form-check form-group">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Email Special Offers
        </label>
      </div>

      <h5>User interface Style</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="light" id="lightInterface">
        <label class="form-check-label" for="flexRadioDefault1">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="medium" id="mediumInterface">
        <label class="form-check-label" for="mediumInterface">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="dark" id="darkInterface" checked>
        <label class="form-check-label" for="darkInterface">
          Dark
        </label>
      </div>

    <button class="btn btn-primary">Send</button>
</div>